.App{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
    font-family: sans-serif;
}

.parteDerecha{
    max-height: 100vh;
}

@media only screen and (max-width: 800px) {
    .App{
        grid-template-columns: 1fr;
        height: auto;
    }
}